// Variables

$primary-color: hsl(75, 94%, 57%);

$bg-color: hsl(0, 0%, 8%);
$text-color: hsl(0, 0%, 100%);
$card-color: hsl(0, 0%, 12%);
$btn-color: hsl(0, 0%, 20%);

$h1: 700 24px/24px $text-color;
$p: 400 14px/14px $text-color;
$p1: 700 14px/14px $primary-color;

$ff: "Inter", sans-serif;
